<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" id="net.nemur.phosom.client" version="1.0.0">
    <name>PhosomClient</name>
    <description>Cordova Application</description>
    <author email="nemur@nemur.net" href="http://www.nemur.net">bthj</author>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <content src="index.html"/>
	
	<feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    
    <!-- plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
    <plugin name="Camera" value="CDVCamera" / -->
	
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
</widget>
